.drawer-open {
  transform: translateX(15rem);
  position: absolute;
  top: 3.5rem;
  max-width: 80%;
  transition: all 0.3s;
}

.drawer-closed {
  transition: all 0.3s;
  transform: translateX(0);
}
